# Created by .ignore support plugin (hsz.mobi)
/Data/Kaggle_Data/Fake.csv
/Data/Kaggle_Data/True.csv
/Data/Fake.xlsx
/Data/True.xlsx
/Data/US_Election_Data/
/Data/Kaggle_Data/
/Code/plot_figures.py
/Code/Data_Preparation/Kaggle_Data/
/Code/Data_Preparation/US_Election_Data/
